
.examples td {padding-left: 5px; padding-right: 5px}
.examples td {border: 1px solid white;font-family: "Splunk Platform Mono";
}
.help-popup {max-width: 500px;}
.help-popup h3, .help-popup h4 {color: white !important}
.help-popup h4 {margin-top: 0;}
#infoPopup .code {border: 1px solid white; font-family: "Splunk Platform Mono"}
#infoPopup {
 display: none;
 position: absolute;
 z-index: 1000;
 background: rgba(0,0,0,0.8);
 color: white;
 padding: 20px;
 font-size: 12px;
}


.deleteButton {
 background-color: #f44336; /* Red */
 border: none;
 color: white;
 padding: 5px 10px; /* Smaller padding */
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px; /* Smaller font size */
 margin: 2px 1px; /* Smaller margin */
 cursor: pointer;
 transition-duration: 0.4s;
 border-radius: 5px; /* Rounded corners */
}

.deleteButton:hover {
 background-color: #da190b;
 color: white;
}


.deleteButton {padding-top: 0;padding-bottom: 0; margin-right: 7px}

.snippets {
 position: fixed;
 min-width: 200px;
 height: 200px;
 background-color: #000;
 color: #fff;
 border: 1px solid #ccc;
 padding: 10px;
 overflow-y: scroll;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 1000;
 font-family: "Splunk Platform Mono";
}
.snippets h2 {color: white}
.snippets li span:hover {background-color: darkslategray;}
.snippets li span {
 user-select: none;
}
